.event-header {
  font-weight: bold;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  white-space: nowrap;
  padding: 1px 2px 2px 1px;
}
.d-calendar-matrix-view.d-rtl .d-calendar-grid {
  right: 50px;
  left: 0;
}
.d-calendar-matrix-view.d-rtl .d-calendar-grid-table td {
  text-align: left;
  border-bottom: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
  border-right: none;
}
.d-calendar-matrix-view.d-rtl .d-calendar-grid-table td span {
  padding-left: 2px;
}
.d-calendar-matrix-view.d-rtl .d-calendar-grid-table td:last-child {
  border-left: 1px solid #cccccc;
}
.d-calendar-matrix-view.d-rtl .d-calendar-container {
  right: 50px;
  left: 0;
}
.d-calendar-matrix-view.d-rtl .d-calendar-container-table td {
  border-bottom: solid 1px transparent;
  border-right: solid 1px transparent;
  text-align: right;
  vertical-align: top;
}
.d-calendar-matrix-view.d-rtl .d-calendar-year-column-header {
  position: absolute;
  right: 0;
  left: auto;
}
.d-calendar-matrix-view.d-rtl .d-calendar-column-header {
  right: 50px;
  left: 0;
}
.d-calendar-matrix-view.d-rtl .d-calendar-column-header-table td {
  border-left: 1px solid #cccccc;
  border-right: none;
}
.d-calendar-matrix-view.d-rtl .d-calendar-row-header {
  right: 0;
  left: auto;
}
.d-calendar-matrix-view.d-rtl .d-calendar-event.d-calendar-horizontal .labels {
  text-align: right;
}
.d-calendar-matrix-view.d-rtl .d-calendar-event.d-calendar-label .labels {
  text-align: right;
}
.d-calendar-matrix-view.d-rtl .d-calendar-event .resize-start-handle {
  right: 0;
}
.d-calendar-matrix-view.d-rtl .d-calendar-event .resize-end-handle {
  left: 0;
  right: auto;
}
