.event-header {
  font-weight: bold;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  white-space: nowrap;
  padding: 1px 2px 2px 1px;
}
.d-calendar-month-column-view.d-rtl .d-calendar-grid-table td {
  border-right: none;
  border-left: 1px solid #e5e5e5;
}
.d-calendar-month-column-view.d-rtl .d-calendar-grid-table td span {
  padding-right: 3px;
  padding-left: 0px;
}
.d-calendar-month-column-view.d-rtl .d-calendar-grid-table .d-calendar-hidden-events {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAAICAYAAADTLS5CAAAAFElEQVQImWP4z8Dw/1dU1H8GyhgANcclWWHC27gAAAAASUVORK5CYII=) repeat-y right top;
}
.d-calendar-month-column-view.d-rtl .d-calendar-month-column-view .d-calendar-grid-table .d-calendar-today.d-calendar-hidden-events {
  background: #fff2d2 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAAICAYAAADTLS5CAAAAFElEQVQImWP4z8Dw/1dU1H8GyhgANcclWWHC27gAAAAASUVORK5CYII=) repeat-y right top;
}
.d-calendar-month-column-view.d-rtl .d-calendar-grid-table tr td:last-child {
  border-left: 1px solid #cccccc;
}
.d-calendar-month-column-view.d-rtl .d-calendar-grid-table tr td:first-child {
  border-right: 1px solid #cccccc;
}
.d-calendar-month-column-view.d-rtl .d-calendar-container-column {
  margin-left: 5px;
  margin-right: 35px;
}
.d-calendar-month-column-view.d-rtl .d-calendar-column-header-table td {
  border-left: 1px solid #e5e5e5;
  border-right: none;
}
.d-calendar-month-column-view.d-rtl .d-calendar-column-header-table td:last-child {
  border-left: 1px solid #cccccc;
}
.d-calendar-month-column-view.d-rtl .d-calendar-column-header-table td:first-child {
  border-right: 1px solid #cccccc;
}
.d-calendar-month-column-view.d-rtl .d-calendar-event .summary {
  text-align: right;
}
.d-calendar-month-column-view.d-rtl .d-calendar-event .start-time {
  text-align: right;
}
.d-calendar-month-column-view.d-rtl .d-calendar-event .end-time {
  text-align: right;
}
