@import url("MatrixView.css");
@import url("ColumnView.css");
.d-calendar {
  display: block;
}
.d-calendar .button-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 31px;
  border: 1px solid #B5BCC7;
}
.d-calendar .view-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 31px;
  bottom: 0;
  height: auto;
}
.d-calendar .view {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
