.event-header {
  font-weight: bold;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-top-right-radius: 5px;
  -moz-border-top-left-radius: 5px;
  white-space: nowrap;
  padding: 1px 2px 2px 1px;
}
.dojoxCalendarColumnView {
  display: block;
  cursor: default;
  -webkit-user-select: none;
}
.dojoxCalendarColumnView .dojoxCalendarHeader {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 29px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.dojoxCalendarColumnView .dojoxCalendarScrollContainer {
  left: 0;
  right: 0;
  bottom: 0;
  top: 33px;
  position: absolute;
  overflow-y: hidden;
  overflow-x: hidden;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.dojoxCalendarColumnView .dojoxCalendarGrid {
  position: absolute;
  left: 70px;
  right: 0;
  overflow: hidden;
}
.dojoxCalendarColumnView .dojoxCalendarGrid.dojoxCalendarHorizontalScroll {
  border-right: 1px solid #cccccc;
}
.dojoxCalendarColumnView .dojoxCalendarGridTable {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
  position: relative;
  margin: 0;
  padding: 0;
}
.dojoxCalendarColumnView .dojoxCalendarGridTable td {
  border-top: dotted 1px 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.dojoxCalendarColumnView .dojoxCalendarGridTable tr:first-child td {
  border-top: 1px solid transparent;
}
.dojoxCalendarColumnView .dojoxCalendarGridTable .dojoxCalendarToday {
  background-color: #fff2d2;
}
.dojoxCalendarColumnView .dojoxCalendarGridTable tr td:last-child {
  border-right: 1px solid #cccccc;
}
.dojoxCalendarColumnView .dojoxCalendarGridTable .tr:first-child td.dojoxCalendarToday {
  border-top: 1px solid #fff2d2;
}
.dojoxCalendarColumnView .dojoxCalendarGridTable .dojoxCalendarWeekend {
  background-color: #f8f8f8;
}
.dojoxCalendarColumnView .dojoxCalendarGridTable tr:first-child td.dojoxCalendarWeekend {
  border-top: 1px solid #f8f8f8;
}
.dojoxCalendarColumnView td.hour {
  border-top: 1px solid #eeeeee;
}
.dojoxCalendarColumnView td.halfhour {
  border-top: dotted 1px #eeeeee;
}
.dojoxCalendarColumnView td.quarterhour {
  border-top: dotted 1px #eeeeee;
}
.dojoxCalendarColumnView span.hour {
  color: #293a4b;
  background-color: #f8f8f8;
}
.dojoxCalendarColumnView span.halfhour,
.dojoxCalendarColumnView span.quarterhour {
  color: #555555;
  background-color: #f8f8f8;
}
.dojoxCalendarColumnView .dojoxCalendarContainer {
  position: absolute;
  top: 0;
  left: 70px;
  right: 0;
  cursor: default;
  overflow: hidden;
}
.dojoxCalendarColumnView .dojoxCalendarContainer table {
  background-color: transparent;
}
.dojoxCalendarColumnView .dojoxCalendarContainer table tr {
  background-color: transparent;
}
.dojoxCalendarColumnView .dojoxCalendarContainer table tr td {
  background-color: transparent;
}
.dojoxCalendarColumnView .dojoxCalendarContainer.dojoxCalendarHorizontalScroll {
  border-right: 1px solid #cccccc;
}
.dojoxCalendarColumnView .dojoxCalendarContainerTable {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
  position: relative;
  margin: 0;
  padding: 0;
}
.dojoxCalendarColumnView .dojoxCalendarContainerTable td {
  height: 100%;
  padding: 0;
  vertical-align: top;
  border-right: 1px solid transparent;
}
.dojoxCalendarColumnView .dojoxCalendarContainerColumn {
  position: relative;
  width: 100%;
}
.dojoxCalendarColumnView .dojoxCalendarSubContainerColumn {
  position: absolute;
  top: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
}
.dojoxCalendarColumnView .dojoxCalendarEventContainerColumn {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  margin-left: 1px;
  margin-right: 5px;
}
.dojoxCalendarColumnView .dojoxCalendarDecorationContainerColumn {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
}
.dojoxCalendarColumnView .dojoxCalendarSubContainerColumn.subColumn {
  border-right: 1px solid #dddddd;
}
.dojoxCalendarColumnView .dojoxCalendarEventContainer {
  position: absolute;
  overflow: hidden;
  -moz-user-select: none;
  -webkit-user-select: none;
  khtml-user-select: none;
  user-select: none;
}
.dojoxCalendarColumnView .dojoxCalendarYearColumnHeader {
  position: absolute;
  height: 29px;
  left: 0;
  width: 68px;
  top: 0;
  border-left: 1px solid #cccccc;
  border-top: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
}
.dojoxCalendarColumnView .dojoxCalendarYearColumnHeader table {
  position: relative;
  width: 100%;
  height: 100%;
}
.dojoxCalendarColumnView .dojoxCalendarYearColumnHeader table td {
  text-align: center;
  vertical-align: middle;
  border-bottom: 1px solid #cccccc;
  color: #293a4b;
  background: #F8F8F8;
  background: #f8f8f8 url("images/titleBar.png") repeat-x bottom left;
  padding: 3px 4px;
}
.dojoxCalendarColumnView .dojoxCalendarColumnHeader {
  position: absolute;
  height: 30px;
  left: 70px;
  right: 0;
  top: 0;
  cursor: default;
  overflow: hidden;
}
.dojoxCalendarColumnView .dojoxCalendarColumnHeader.dojoxCalendarHorizontalScroll {
  border-right: 1px solid #cccccc;
}
.dojoxCalendarColumnView .dojoxCalendarColumnHeaderTable {
  border-collapse: collapse;
  table-layout: fixed;
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
.dojoxCalendarColumnView .dojoxCalendarColumnHeaderTable td {
  overflow: hidden;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  background: #F8F8F8;
  background: #f8f8f8 url("images/titleBar.png") repeat-x bottom left;
  padding: 3px 4px;
  border-right: 1px solid #cccccc;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  -moz-user-select: none;
  -webkit-user-select: none;
  khtml-user-select: none;
  user-select: none;
  color: #293a4b;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.dojoxCalendarColumnView .dojoxCalendarColumnHeaderTable td:last-child {
  border-right: 1px solid #cccccc;
}
.dojoxCalendarColumnView .dojoxCalendarColumnHeaderTable .dojoxCalendarToday {
  font-weight: bold;
  color: #ff2200;
}
.dojoxCalendarColumnView .dojoxCalendarColumnHeaderTable .dojoxCalendarWeekend {
  color: #999999;
}
.dojoxCalendarColumnView .dojoxCalendarColumnHeaderTable td.Hover {
  cursor: pointer;
  background: #f8fafd url("images/accordionItemHover.gif") bottom repeat-x;
}
.dojoxCalendarColumnView .dojoxCalendarColumnHeaderTable td.Active {
  cursor: pointer;
}
.dojoxCalendarColumnView .dojoxCalendarSubHeader {
  position: absolute;
  left: 0;
  right: 0;
  top: 72px;
  height: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: none;
}
.dojoxCalendarColumnView .dojoxCalendarSubColumnHeader {
  position: absolute;
  height: 20px;
  left: 70px;
  right: 0;
  top: 0px;
  cursor: default;
  overflow: hidden;
}
.dojoxCalendarColumnView .dojoxCalendarSubColumnHeader.dojoxCalendarHorizontalScroll {
  border-right: 1px solid #cccccc;
}
.dojoxCalendarColumnView .dojoxCalendarSubColumnHeaderTable {
  border-collapse: collapse;
  table-layout: fixed;
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
.dojoxCalendarColumnView .dojoxCalendarSubColumnHeaderTable td {
  overflow: hidden;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  border-right: 1px solid #cccccc;
  border-top: 1px solid #cccccc;
  -moz-user-select: none;
  -webkit-user-select: none;
  khtml-user-select: none;
  user-select: none;
  color: #000000;
}
.dojoxCalendarColumnView .dojoxCalendarSubColumnHeaderTable td:last-child {
  border-right: 1px solid #cccccc;
}
.dojoxCalendarColumnView .dojoxCalendarSubColumnHeaderTable td.dojoxCalendarToday {
  background-color: #fff2d2;
}
.dojoxCalendarColumnView .dojoxCalendarSubColumnHeaderTable td.dojoxCalendarWeekend {
  background-color: #f8f8f8;
}
.dojoxCalendarColumnView .dojoxCalendarSubHeaderContainer {
  position: relative;
  width: 100%;
  height: 18px;
}
.dojoxCalendarColumnView .dojoxCalendarSubHeaderCell {
  position: absolute;
  top: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dojoxCalendarColumnView .dojoxCalendarSubHeaderCell.subColumn {
  border-right: 1px solid #dddddd;
}
.dojoxCalendarColumnView .dojoxCalendarSubHeaderLabel {
  font-size: 0.9em;
  color: #555;
}
.dojoxCalendarColumnView .dojoxCalendarSubRowHeader {
  position: absolute;
  height: 20px;
  left: 0;
  width: 68px;
  top: 0;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
}
.dojoxCalendarColumnView .dojoxCalendarSubRowHeader table {
  position: relative;
  width: 100%;
  height: 100%;
}
.dojoxCalendarColumnView .dojoxCalendarSubRowHeader table td {
  border-top: 1px solid #cccccc;
  background-color: #efefef;
}
.dojoxCalendarColumnView .dojoxCalendarRowHeader {
  position: absolute;
  width: 68px;
  cursor: default;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  height: 100%;
  -moz-user-select: none;
  -webkit-user-select: none;
  khtml-user-select: none;
  user-select: none;
}
.dojoxCalendarColumnView .dojoxCalendarRowHeaderLabelContainer {
  width: 100%;
  height: 100%;
  z-index: 10;
}
.dojoxCalendarColumnView .dojoxCalendarRowHeaderLabel {
  right: 4px;
  position: absolute;
}
.dojoxCalendarColumnView .dojoxCalendarRowHeaderTable {
  border-collapse: collapse;
  table-layout: fixed;
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
.dojoxCalendarColumnView .dojoxCalendarRowHeaderTable td.dummy {
  border-top: 1px solid #f8f8f8;
}
.dojoxCalendarColumnView .dojoxCalendarRowHeaderTable td {
  background-color: #f8f8f8;
  color: #293a4b;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.dojoxCalendarColumnView .dojoxCalendarRowHeaderTable tr:first-child td {
  border-top: 1px solid #f8f8f8;
}
.dojoxCalendarColumnView .dojoxCalendarDecoration {
  display: block;
  position: absolute;
  background-color: #a7e944;
  filter: alpha(opacity=@ {op});
  opacity: 0.2;
}
.dojoxCalendarColumnView .dojoxCalendarEvent {
  display: block;
  position: absolute;
  text-align: left;
  color: #FFF;
  cursor: default;
  overflow: hidden;
}
.dojoxCalendarColumnView .dojoxCalendarEvent .bg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  border: 1px solid #260000;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  background-color: #9f0000;
  filter: alpha(opacity=@ {op});
  opacity: 0.9;
}
.dojoxCalendarColumnView .dojoxCalendarEvent .endTime {
  position: absolute;
  font-weight: bold;
  bottom: 3px;
  left: 6px;
  white-space: nowrap;
}
.dojoxCalendarColumnView .dojoxCalendarEvent .beforeIcon {
  text-align: center;
}
.dojoxCalendarColumnView .dojoxCalendarEvent .afterIcon {
  position: absolute;
  bottom: 2px;
  width: 100%;
  text-align: center;
}
.dojoxCalendarColumnView .dojoxCalendarEvent .handle {
  z-index: 2;
  background-color: #F00;
  filter: alpha(opacity=@ {op});
  opacity: 0;
  -moz-user-select: none;
  -webkit-user-select: none;
  khtml-user-select: none;
  user-select: none;
}
.dojoxCalendarColumnView .dojoxCalendarEvent .moveHandle {
  position: absolute;
  top: 0;
  width: 100%;
  bottom: 0;
  cursor: move;
}
.dojoxCalendarColumnView .dojoxCalendarEvent .resizeStartHandle {
  position: absolute;
  top: 0;
  width: 100%;
  height: 10px;
  cursor: n-resize;
}
.dojoxCalendarColumnView .dojoxCalendarEvent .resizeEndHandle {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10px;
  cursor: n-resize;
}
.dojoxCalendarColumnView .dojoxCalendarEvent dl {
  margin: 0;
}
.dojoxCalendarColumnView .dojoxCalendarEvent dd {
  margin: 0;
  padding: 0 3px;
  text-align: left;
}
.dojoxCalendarColumnView .dojoxCalendarEvent.Hovered .bg {
  background-color: #cc0000;
}
.dojoxCalendarColumnView .dojoxCalendarEvent.Selected .bg {
  background-color: #660000;
}
.dojoxCalendarColumnView .dojoxCalendarEvent.Edited .bg {
  border: dashed 1px #ffffff;
  filter: alpha(opacity=@ {op});
  opacity: 0.7;
}
.dojoxCalendarColumnView .dojoxCalendarEvent.Focused .bg {
  border: dashed 1px #ffffff;
}
.dojoxCalendarColumnView .dojoxCalendarEvent .startTime {
  font-weight: bold;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-top-right-radius: 5px;
  -moz-border-top-left-radius: 5px;
  white-space: nowrap;
  padding: 1px 2px 2px 1px;
  background-color: #6c0000;
  border-top: 1px solid #260000;
  border-left: 1px solid #260000;
  border-right: 1px solid #260000;
}
.dojoxCalendarColumnView .dojoxCalendarEvent.Focused .startTime {
  border-top: dashed 1px #ffffff;
  border-left: dashed 1px #ffffff;
  border-right: dashed 1px #ffffff;
}
.dojoxCalendarColumnView .dojoxCalendarEvent.Hovered .startTime {
  background-color: #990000;
}
.dojoxCalendarColumnView .dojoxCalendarEvent.Selected .startTime {
  background-color: #330000;
}
.dojoxCalendarColumnView .dojoxCalendarEvent.Edited .startTime {
  background-color: #6c0000;
  border-top: dashed 1px #ffffff;
  border-left: dashed 1px #ffffff;
  border-right: dashed 1px #ffffff;
}
.dojoxCalendarColumnView .dojoxCalendarVScrollBar {
  display: block;
  position: absolute;
  top: 33px;
  bottom: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}
.dojoxCalendarColumnView .dojoxCalendarHScrollBar {
  display: block;
  position: absolute;
  bottom: 0;
  left: 70px;
  overflow-x: scroll;
  overflow-y: hidden;
}
.dojoxCalendarColumnView .dojoxCalendarColumnViewSecondarySheet {
  position: absolute;
  left: 0;
  right: 0;
  top: 30px;
  height: 39px;
}
.dojoxCalendarColumnView .dojoxCalendarColumnViewSecondarySheet .dojoxCalendarGrid {
  position: absolute;
  left: 70px;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.dojoxCalendarColumnView .dojoxCalendarColumnViewSecondarySheet .dojoxCalendarContainer {
  position: absolute;
  top: 0;
  left: 70px;
  right: 0;
  bottom: 0;
  cursor: default;
}
.dojoxCalendarColumnView .dojoxCalendarColumnViewSecondarySheet .dojoxCalendarRowHeader {
  position: absolute;
  left: 0;
  top: 0;
  width: 70px;
  bottom: 0;
  border-right: none;
  border-left: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.dojoxCalendarColumnView .dojoxCalendarColumnViewSecondarySheet .dojoxCalendarGridTable td {
  text-align: right;
  vertical-align: top;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.dojoxCalendarColumnView .dojoxCalendarColumnViewSecondarySheet .dojoxCalendarGridTable tr:last-child td {
  border-bottom: 1px solid #cccccc;
}
.dojoxCalendarColumnView .dojoxCalendarColumnViewSecondarySheet .dojoxCalendarGridTable td:last-child {
  border-right: 1px solid #cccccc;
}
.dojoxCalendarColumnView .dojoxCalendarColumnViewSecondarySheet .dojoxCalendarRowHeaderTable td {
  border-top: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  background-color: #f8f8f8;
}
.dojoxCalendarColumnView .dojoxCalendarColumnViewSecondarySheet .dojoxCalendarEvent .handle {
  z-index: 2;
  background-color: #F00;
  filter: alpha(opacity=@ {op});
  opacity: 0;
  -moz-user-select: none;
  -webkit-user-select: none;
  khtml-user-select: none;
  user-select: none;
  position: absolute;
  width: 5px;
  height: 100%;
  cursor: e-resize;
}
.dojoxCalendarColumnView .dojoxCalendarColumnViewSecondarySheet .dojoxCalendarEvent .moveHandle {
  left: 0;
  top: 0;
  width: 100%;
  cursor: move;
}
.dojoxCalendarColumnView .dojoxCalendarColumnViewSecondarySheet .dojoxCalendarEvent .resizeEndHandle {
  right: 0px;
}
.dojoxCalendarColumnView .dojoxCalendarColumnViewSecondarySheet .dojoxCalendarEvent .afterIcon {
  width: auto;
}
.dojoxCalendarColumnView .dojoxCalendarColumnViewSecondarySheet .dojoxCalendarEvent .endTime {
  position: relative;
  bottom: auto;
  left: auto;
}
.dojoxCalendarColumnView .dojoxCalendarColumnViewSecondarySheet .dojoxCalendarEvent.dojoxCalendarHorizontal .labels {
  position: absolute;
  left: 3px;
  right: 1px;
  bottom: 2px;
  overflow: hidden;
}
.dojoxCalendarColumnView .dojoxCalendarColumnViewSecondarySheet .dojoxCalendarExpand {
  display: block;
  position: absolute;
  text-align: center;
}
.dojoxCalendarColumnView .dojoxCalendarColumnViewSecondarySheet .dojoxCalendarExpand .bg {
  position: relative;
  margin-right: 10%;
  margin-left: 10%;
  border-radius: 5px;
  height: 100%;
  -moz-user-select: none;
  -webkit-user-select: none;
  khtml-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  -moz-border-radius: 5px;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.dojoxCalendarColumnView .dojoxCalendarColumnViewSecondarySheet .dojoxCalendarExpand.Up .bg {
  background-color: #e5f2fe;
  border: 1px solid #909da9;
}
.dojoxCalendarColumnView .dojoxCalendarColumnViewSecondarySheet .dojoxCalendarExpand.Down .bg {
  background-color: #a5d1fb;
  border: 1px solid #507ca6;
}
.dojoxCalendarColumnView .dojoxCalendarColumnViewSecondarySheet .dojoxCalendarEvent div {
  white-space: nowrap;
}
.dojoxCalendarColumnView .dojoxCalendarTimeIndicator {
  position: absolute;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: red;
}
.dojoxCalendarColumnView.subColumns .dojoxCalendarScrollContainer {
  top: 53px;
}
.dojoxCalendarColumnView.subColumns .dojoxCalendarSubHeader {
  top: 33px;
  display: block;
}
.dojoxCalendarColumnView.subColumns .dojoxCalendarVScrollBar {
  top: 53px;
}
.dojoxCalendarColumnView.secondarySheet .dojoxCalendarScrollContainer {
  top: 72px;
}
.dojoxCalendarColumnView.secondarySheet .dojoxCalendarSubHeader {
  top: 72px;
  display: none;
}
.dojoxCalendarColumnView.secondarySheet .dojoxCalendarVScrollBar {
  top: 72px;
}
.dojoxCalendarColumnView.subColumns.secondarySheet .dojoxCalendarScrollContainer {
  top: 92px;
}
.dojoxCalendarColumnView.subColumns.secondarySheet .dojoxCalendarSubHeader {
  top: 72px;
  display: block;
}
.dojoxCalendarColumnView.subColumns.secondarySheet .dojoxCalendarVScrollBar {
  top: 92px;
}
.dojoxCalendarColumnViewSecondarySheet {
  display: block;
}
