
.d-calendar-column-view .d-calendar-event.unstored .bg {
  opacity: 0.4;
}

.d-calendar-column-view .d-calendar-event.storing .bg {
  opacity: 0.7;
  animation: animKeyframes 1s infinite;
  -moz-animation: animKeyframes 1s infinite; /* Firefox */
  -webkit-animation: animKeyframes 1s infinite; /* Safari and Chrome */
}

@keyframes animKeyframes
{
	0%   {opacity: 0.7;}
	50% {opacity: 0.9;}
	100% {opacity: 0.7;}
}

@-moz-keyframes animKeyframes /* Firefox */
{
	0%   {opacity: 0.7;}
	50% {opacity: 0.9;}
	100% {opacity: 0.7;}
}

@-webkit-keyframes animKeyframes /* Safari and Chrome */
{
	0%   {opacity: 0.7;}
	50% {opacity: 0.9;}
	100% {opacity: 0.7;}
}
@-o-keyframes myfirst /* Opera */
{
	0%   {opacity: 0.7;}
	50% {opacity: 0.9;}
	100% {opacity: 0.7;}
}
