.d-calendar  {
	font-size: 0.9em;
}

.d-calendar-event.Calendar2 .bg.bg {
	background: #2095B4;
}

.d-calendar-event.Calendar2.hovered .bg.bg {
	background: #24A5C8;
}

.d-calendar-event.Calendar2.selected .bg.bg {
	background: #166B81;
}

.d-calendar-event.edited.invalid .bg.bg {
	background: #FFF;
}


.d-calendar-column-view .d-calendar-event.Calendar2 .start-time {
  font-weight: bold;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-top-right-radius: 5px;
  -moz-border-top-left-radius: 5px;
  background-color: #00768F;
  white-space: nowrap;
  padding: 1px 2px 2px 1px;
  border-top: 1px solid #260000;
  border-left: 1px solid #260000;
  border-right: 1px solid #260000;
}
.d-calendar-column-view .d-calendar-event.Calendar2.focused .start-time {
  font-weight: bold;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-top-right-radius: 5px;
  -moz-border-top-left-radius: 5px;
  background-color: #6c0000;
  white-space: nowrap;
  padding: 1px 2px 2px 1px;
  border-top: dashed 1px #ffffff;
  border-left: dashed 1px #ffffff;
  border-right: dashed 1px #ffffff;
}
.d-calendar-column-view .d-calendar-event.Calendar2.hovered .start-time {
  background-color: #0094B4;
}
.d-calendar-column-view .d-calendar-event.Calendar2.selected .start-time {
  background-color: #005A6D;
}
.d-calendar-column-view .d-calendar-event.Calendar2.edited .start-time {
  background-color: #0095b4;
  border-top: dashed 1px #ffffff;
  border-left: dashed 1px #ffffff;
  border-right: dashed 1px #ffffff;
}
.claro .deleteButton .dijitButtonNode{
	background-color: #F88;
}

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

#dateChooser {
	position: absolute;
	left: 10px;
	right: 10px;
	top: 10px;
}

label {
	vertical-align: middle;
}

.propertyTitle {
	font-weight: bold;
	font-size:0.9em;
}
