@import url("MatrixView.css");
@import url("ColumnView.css");
.d-calendar {
  display: block;
}
.d-calendar .button-container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 1px;
  height: 32px;
  text-align: center;
}
.d-calendar .view-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 32px;
  height: auto;
}
.d-calendar .view {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
