@button-container-height: 32px;

@import url("MatrixView.css");
@import url("ColumnView.css");

.d-calendar {
	display: block;
}

.d-calendar .button-container {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 1px;
	height: @button-container-height;
	text-align: center;
}

.d-calendar .view-container {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: @button-container-height;
	height: auto;	// override height:100% setting for <d-view-stack>
}

.d-calendar .view {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

