.d-calendar-column-view.d-rtl .d-calendar-scroll-container {
  border-left: none;
  border-right: none;
}
.d-calendar-column-view.d-rtl .d-calendar-grid {
  left: 0;
  right: 70px;
}
.d-calendar-column-view.d-rtl .d-calendar-grid-table td {
  border-left: 1px solid #cccccc;
  border-right: none;
}
.d-calendar-column-view.d-rtl .d-calendar-container {
  left: 0;
  right: 70px;
}
.d-calendar-column-view.d-rtl .d-calendar-container-column {
  margin-right: 1px;
  margin-left: 9px;
}
.d-calendar-column-view.d-rtl .d-calendar-year-column-header {
  right: 0;
  width: 70px;
}
.d-calendar-column-view.d-rtl .d-calendar-column-header {
  left: 0;
  right: 70px;
}
.d-calendar-column-view.d-rtl .d-calendar-column-header-table td {
  border-left: 1px solid #cccccc;
  border-right: none;
}
.d-calendar-column-view.d-rtl .d-calendar-row-header-label {
  right: auto;
  left: 4px;
}
.d-calendar-column-view.d-rtl .d-calendar-event .summary {
  text-align: right;
}
.d-calendar-column-view.d-rtl .d-calendar-event .start-time {
  text-align: right;
}
.d-calendar-column-view.d-rtl .d-calendar-event .end-time {
  text-align: right;
}
.d-calendar-column-view.d-rtl .d-calendar-v-scroll-bar {
  margin-left: -1px;
}
.d-calendar-column-view.d-rtl .d-calendar-grid {
  right: 70px;
  left: 0;
}
.d-calendar-column-view.d-rtl .d-calendar-grid-table td {
  text-align: left;
  border-bottom: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
  border-right: none;
}
.d-calendar-column-view.d-rtl .d-calendar-grid-table td span {
  padding-left: 2px;
}
.d-calendar-column-view.d-rtl .d-calendar-grid-table td:last-child {
  border-left: 1px solid #cccccc;
}
.d-calendar-column-view.d-rtl .d-calendar-container {
  right: 70px;
  left: 0;
}
.d-calendar-column-view.d-rtl .d-calendar-container-table td {
  border-bottom: solid 1px transparent;
  border-right: solid 1px transparent;
  text-align: right;
  vertical-align: top;
}
.d-calendar-column-view.d-rtl .d-calendar-year-column-header {
  position: absolute;
  right: 0;
  left: auto;
}
.d-calendar-column-view.d-rtl .d-calendar-column-header {
  right: 70px;
  left: 0;
}
.d-calendar-column-view.d-rtl .d-calendar-column-view-secondary-sheet .d-calendar-column-header-table td {
  border-left: 1px solid #cccccc;
  border-right: none;
}
.d-calendar-column-view.d-rtl .d-calendar-row-header {
  right: 0;
  left: auto;
}
.d-calendar-column-view.d-rtl .d-calendar-event .resize-start-handle {
  right: 0;
}
.d-calendar-column-view.d-rtl .d-calendar-event .resize-end-handle {
  left: 0;
  right: auto;
}
.d-calendar-column-view.d-rtl .d-calendar-event.d-calendar-horizontal .labels {
  text-align: right;
  right: 2px;
}
