.dojoxCalendarColumnView.d-rtl .dojoxCalendarScrollContainer {
  border-left: none;
  border-right: none;
}
.dojoxCalendarColumnView.d-rtl .dojoxCalendarGrid {
  left: 0;
  right: 70px;
}
.dojoxCalendarColumnView.d-rtl .dojoxCalendarGridTable td {
  border-left: 1px solid #cccccc;
  border-right: none;
}
.dojoxCalendarColumnView.d-rtl .dojoxCalendarContainer {
  left: 0;
  right: 70px;
}
.dojoxCalendarColumnView.d-rtl .dojoxCalendarContainerColumn {
  margin-right: 1px;
  margin-left: 9px;
}
.dojoxCalendarColumnView.d-rtl .dojoxCalendarYearColumnHeader {
  right: 0;
  width: 70px;
}
.dojoxCalendarColumnView.d-rtl .dojoxCalendarColumnHeader {
  left: 0;
  right: 70px;
}
.dojoxCalendarColumnView.d-rtl .dojoxCalendarColumnHeaderTable td {
  border-left: 1px solid #cccccc;
  border-right: none;
}
.dojoxCalendarColumnView.d-rtl .dojoxCalendarRowHeaderLabel {
  right: auto;
  left: 4px;
}
.dojoxCalendarColumnView.d-rtl .dojoxCalendarEvent .summary {
  text-align: right;
}
.dojoxCalendarColumnView.d-rtl .dojoxCalendarEvent .startTime {
  text-align: right;
}
.dojoxCalendarColumnView.d-rtl .dojoxCalendarEvent .endTime {
  text-align: right;
}
.dojoxCalendarColumnView.d-rtl .dojoxCalendarVScrollBar {
  margin-left: -1px;
}
.dojoxCalendarColumnView.d-rtl .dojoxCalendarGrid {
  right: 70px;
  left: 0;
}
.dojoxCalendarColumnView.d-rtl .dojoxCalendarGridTable td {
  text-align: left;
  border-bottom: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
  border-right: none;
}
.dojoxCalendarColumnView.d-rtl .dojoxCalendarGridTable td span {
  padding-left: 2px;
}
.dojoxCalendarColumnView.d-rtl .dojoxCalendarGridTable td:last-child {
  border-left: 1px solid #cccccc;
}
.dojoxCalendarColumnView.d-rtl .dojoxCalendarContainer {
  right: 70px;
  left: 0;
}
.dojoxCalendarColumnView.d-rtl .dojoxCalendarContainerTable td {
  border-bottom: solid 1px transparent;
  border-right: solid 1px transparent;
  text-align: right;
  vertical-align: top;
}
.dojoxCalendarColumnView.d-rtl .dojoxCalendarYearColumnHeader {
  position: absolute;
  right: 0;
  left: auto;
}
.dojoxCalendarColumnView.d-rtl .dojoxCalendarColumnHeader {
  right: 70px;
  left: 0;
}
.dojoxCalendarColumnView.d-rtl .dojoxCalendarColumnViewSecondarySheet .dojoxCalendarColumnHeaderTable td {
  border-left: 1px solid #cccccc;
  border-right: none;
}
.dojoxCalendarColumnView.d-rtl .dojoxCalendarRowHeader {
  right: 0;
  left: auto;
}
.dojoxCalendarColumnView.d-rtl .dojoxCalendarEvent .resizeStartHandle {
  right: 0;
}
.dojoxCalendarColumnView.d-rtl .dojoxCalendarEvent .resizeEndHandle {
  left: 0;
  right: auto;
}
.dojoxCalendarColumnView.d-rtl .dojoxCalendarEvent.dojoxCalendarHorizontal .labels {
  text-align: right;
  right: 2px;
}
