.d-calendar-matrix-view {
  cursor: default;
  -moz-user-select: none;
  -webkit-user-select: none;
  khtml-user-select: none;
  user-select: none;
}
.d-calendar-matrix-view .d-calendar-grid {
  position: absolute;
  left: 50px;
  right: 0px;
  top: 30px;
  bottom: 0px;
}
.d-calendar-matrix-view .d-calendar-grid-table {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  table-layout: fixed;
}
.d-calendar-matrix-view .d-calendar-grid-table tr {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.d-calendar-matrix-view .d-calendar-grid-table td {
  text-align: right;
  vertical-align: top;
  border-bottom: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.d-calendar-matrix-view .d-calendar-grid-table td span {
  padding-right: 2px;
  padding-top: 2px;
  color: #cccccc;
}
.d-calendar-matrix-view .d-calendar-grid-table tr:last-child td {
  border-bottom: 1px solid #cccccc;
}
.d-calendar-matrix-view .d-calendar-grid-table td:last-child {
  border-right: 1px solid #cccccc;
}
/*
 * The d-calendar-col-today & d-calendar-col-weekend classes is added by the
 * MatrixView.styleGridCell method that can be subclassed to add/remove css classes
 */
.d-calendar-matrix-view .d-calendar-grid-table td.d-calendar-today {
  color: #295bb3;
}
.d-calendar-matrix-view .d-calendar-grid-table .d-calendar-day-disabled {
  background-color: #fafafa;
  color: #838383;
}
.d-calendar-matrix-view .d-calendar-year-column-header {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 50px;
  height: 30px;
  text-align: center;
  vertical-align: middle;
  border-bottom: 1px solid transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.d-calendar-matrix-view .d-calendar-year-column-header table {
  position: relative;
  width: 100%;
  height: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}
.d-calendar-matrix-view .d-calendar-year-column-header table td {
  text-align: center;
  vertical-align: middle;
  border-left: 1px solid transparent;
  border-top: 1px solid transparent;
  border-right: 1px solid transparent;
  color: #cccccc;
}
.d-calendar-matrix-view .d-calendar-column-header {
  position: absolute;
  left: 50px;
  right: 0px;
  top: 0px;
  height: 29px;
  cursor: default;
  border-bottom: 1px solid #cccccc;
}
.d-calendar-matrix-view .d-calendar-column-header-table {
  position: relative;
  width: 100%;
  height: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}
.d-calendar-matrix-view .d-calendar-column-header-table td {
  overflow: hidden;
  vertical-align: middle;
  text-align: center;
  color: #cccccc;
  border-right: 1px solid transparent;
  border-top: 1px solid transparent;
  -moz-user-select: none;
  -webkit-user-select: none;
  khtml-user-select: none;
  user-select: none;
}
.d-calendar-matrix-view .d-calendar-row-header {
  position: absolute;
  left: 0px;
  top: 30px;
  width: 50px;
  bottom: 0;
  color: #cccccc;
  -moz-user-select: none;
  -webkit-user-select: none;
  khtml-user-select: none;
  user-select: none;
}
.d-calendar-matrix-view .d-calendar-row-header-table {
  position: relative;
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  margin: 0;
  padding: 0;
}
.d-calendar-matrix-view .d-calendar-row-header-table tr {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/*
 * The MatrixView.styleRowHeaderCell method that can be subclassed to add/remove css classes per hour.
 */
.d-calendar-matrix-view .d-calendar-row-header-table td {
  text-align: center;
  vertical-align: middle;
  border-left: 1px solid transparent;
  border-right: 1px solid #cccccc;
  border-bottom: 1px solid transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.d-calendar-matrix-view .d-calendar-row-header-table td:last-child {
  border-bottom: 1px solid #cccccc;
}
.d-calendar-matrix-view .d-calendar-row-header-table td:hover {
  background-color: #e5f2fe;
}
.d-calendar-matrix-view .d-calendar-row-header-table td:active {
  background-color: #a5d1fb;
}
.d-calendar-matrix-view .d-calendar-container {
  position: absolute;
  top: 30px;
  left: 50px;
  right: 0px;
  bottom: 0px;
}
.d-calendar-matrix-view .d-calendar-container-table {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  table-layout: fixed;
}
.d-calendar-matrix-view .d-calendar-container-table tr {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.d-calendar-matrix-view .d-calendar-container-table td {
  vertical-align: top;
  border-bottom: solid 1px transparent;
  border-right: solid 1px transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.d-calendar-matrix-view .d-calendar-container-table td div.d-calendar-container-row {
  position: relative;
  height: 100%;
  width: 100%;
}
.d-calendar-matrix-view .d-calendar-event-container {
  position: absolute;
  overflow: hidden;
  -moz-user-select: none;
  -webkit-user-select: none;
  khtml-user-select: none;
  user-select: none;
}
.d-calendar-matrix-view .d-calendar-event {
  display: block;
  position: absolute;
  text-align: left;
  color: #000000;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  white-space: nowrap;
}
.d-calendar-matrix-view .d-calendar-event.d-calendar-horizontal {
  color: #FFF;
}
.d-calendar-matrix-view .d-calendar-event.d-calendar-horizontal .bg {
  border: 1px solid #260000;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: left;
  color: #000000;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  background-color: #9f0000;
}
.d-calendar-matrix-view .d-calendar-event.d-calendar-horizontal.hovered .bg {
  background-color: #cc0000;
}
.d-calendar-matrix-view .d-calendar-event.d-calendar-horizontal.selected .bg {
  background-color: #660000;
}
.d-calendar-matrix-view .d-calendar-event.edited {
  color: #fff;
  font-weight: bold;
}
.d-calendar-matrix-view .d-calendar-event.d-calendar-horizontal.edited .bg {
  border: dashed 1px #FFF;
  filter: alpha(opacity=@ {op});
  filter: formatstring("alpha(opacity= {0})", 50);
  opacity: 0.5;
}
.d-calendar-matrix-view .d-calendar-event.d-calendar-horizontal.focused .bg {
  border: dashed 1px #FFF;
}
.d-calendar-matrix-view .d-calendar-event.d-calendar-horizontal .labels {
  position: absolute;
  left: 3px;
  right: 1px;
  bottom: 2px;
  overflow: hidden;
}
.d-calendar-matrix-view .d-calendar-event.d-calendar-horizontal.edited .labels {
  left: 33px;
  right: 31px;
}
.d-calendar-matrix-view .d-calendar-event.d-calendar-label .labels {
  position: absolute;
  left: 2px;
  right: 2px;
  bottom: 0;
  overflow: hidden;
}
.d-calendar-matrix-view .d-calendar-event.d-calendar-label.selected {
  color: #F00;
}
.d-calendar-matrix-view .d-calendar-event.d-calendar-label.edited {
  color: #FFF;
  border: dashed 1px #FFF;
  background: #600;
  filter: alpha(opacity=@ {op});
  filter: formatstring("alpha(opacity= {0})", 30);
  opacity: 0.3;
}
.d-calendar-matrix-view .d-calendar-event.d-calendar-label.focused {
  border: dashed 1px #000000;
}
.d-calendar-matrix-view .d-calendar-event .resize-handle {
  position: absolute;
  width: 30px;
  height: 100%;
  background-color: #fff;
  filter: alpha(opacity=@ {op});
  filter: formatstring("alpha(opacity= {0})", 0);
  opacity: 0;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  color: #000;
  text-align: center;
}
.d-calendar-matrix-view .d-calendar-event .move-handle {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}
.d-calendar-matrix-view .d-calendar-event .resize-start-handle {
  right: auto;
}
.d-calendar-matrix-view .d-calendar-event .resize-end-handle {
  right: 0px;
  left: auto;
}
.d-calendar-matrix-view .d-calendar-event.edited .resize-handle {
  filter: alpha(opacity=@ {op});
  filter: formatstring("alpha(opacity= {0})", 30);
  opacity: 0.3;
}
.d-calendar-matrix-view .d-calendar-expand {
  display: block;
  position: absolute;
  text-align: center;
}
.d-calendar-matrix-view .d-calendar-expand span {
  display: inline-block;
  vertical-align: middle;
}
.d-calendar-matrix-view .d-calendar-expand .bg {
  position: relative;
  margin-right: 5px;
  margin-left: 5px;
  height: 100%;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid transparent;
}
.d-calendar-matrix-view .d-calendar-expand.up .bg {
  background-color: #73abfa;
  border: 1px solid #1e56a5;
}
.d-calendar-matrix-view .d-calendar-expand.down .bg {
  background-color: #a5d1fb;
  border: 1px solid #507ca6;
}
.d-calendar-matrix-view.d-rtl .d-calendar-grid {
  right: 50px;
  left: 0;
}
.d-calendar-matrix-view.d-rtl .d-calendar-grid-table td {
  text-align: left;
  border-bottom: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
  border-right: none;
}
.d-calendar-matrix-view.d-rtl .d-calendar-grid-table td span {
  padding-left: 2px;
}
.d-calendar-matrix-view.d-rtl .d-calendar-grid-table td:last-child {
  border-left: 1px solid #cccccc;
}
.d-calendar-matrix-view.d-rtl .d-calendar-container {
  right: 50px;
  left: 0;
}
.d-calendar-matrix-view.d-rtl .d-calendar-container-table td {
  border-bottom: solid 1px transparent;
  border-right: solid 1px transparent;
  text-align: right;
  vertical-align: top;
}
.d-calendar-matrix-view.d-rtl .d-calendar-year-column-header {
  position: absolute;
  right: 0;
  left: auto;
}
.d-calendar-matrix-view.d-rtl .d-calendar-column-header {
  right: 50px;
  left: 0;
}
.d-calendar-matrix-view.d-rtl .d-calendar-matrix-view .d-calendar-column-header-table td {
  border-left: 1px solid #cccccc;
  border-right: none;
}
.d-calendar-matrix-view.d-rtl .d-calendar-row-header {
  right: 0;
  left: auto;
}
.d-calendar-matrix-view.d-rtl .d-calendar-event.d-calendar-horizontal .labels {
  text-align: right;
}
.d-calendar-matrix-view.d-rtl .d-calendar-event.d-calendar-label .labels {
  text-align: right;
}
.d-calendar-matrix-view.d-rtl .d-calendar-event .resize-start-handle {
  right: 0;
}
.d-calendar-matrix-view.d-rtl .d-calendar-event .resize-end-handle {
  left: 0;
  right: auto;
}
