<template>
	<div attach-point="buttonContainer" class="buttonContainer">
		<button on-click="{{previousRange}}">{{this.effectiveDir === "ltr" ? "&#x25C0;" : "&#x25B6;"}}</button>
		<button on-click="{{nextRange}}">{{this.effectiveDir === "ltr" ? "&#x25B6;" : "&#x25C0;"}}</button>
		|
		<button on-click="{{todayButtonClick}}">{{_nls.todayButton}}</button>
		|
		<button on-click="{{dayButtonClick}}">{{_nls.dayButton}}</button>
		<button on-click="{{fourDaysButtonClick}}">{{_nls.fourDaysButton}}</button>
		<button on-click="{{weekButtonClick}}">{{_nls.weekButton}}</button>
		<button on-click="{{monthButtonClick}}">{{_nls.monthButton}}</button>
	</div>
	<div attach-point="viewContainer" class="viewContainer"></div>
</template>
