<template requires="./VerticalScrollBar, ./HorizontalScrollBar" on-keydown="{{_onKeyDown}}">
	<div attach-point="header" class="dojoxCalendarHeader">
		<div class="dojoxCalendarYearColumnHeader" attach-point="yearColumnHeader">
			<table cellspacing="0" cellpadding="0"><tr><td><span attach-point="yearColumnHeaderContent"></span></td></tr></table>
		</div>
		<div attach-point="columnHeader" class="dojoxCalendarColumnHeader">
			<table attach-point="columnHeaderTable" class="dojoxCalendarColumnHeaderTable" cellpadding="0" cellspacing="0"></table>
		</div>
	</div>

	<div attach-point="secondarySheetPlaceholder"></div>

	<div attach-point="subHeader" class="dojoxCalendarSubHeader">
		<div class="dojoxCalendarSubRowHeader">
			<table cellspacing="0" cellpadding="0"><tr><td></td></tr></table>
		</div>
		<div attach-point="subColumnHeader" class="dojoxCalendarSubColumnHeader">
			<table attach-point="subColumnHeaderTable" class="dojoxCalendarSubColumnHeaderTable" cellpadding="0" cellspacing="0"></table>
		</div>
	</div>

	<div attach-point="scrollContainer" class="dojoxCalendarScrollContainer">
		<div attach-point="sheetContainer" style="position:relative;left:0;right:0;margin:0;padding:0">
			<div attach-point="rowHeader" class="dojoxCalendarRowHeader">
				<table attach-point="rowHeaderTable" class="dojoxCalendarRowHeaderTable" cellpadding="0" cellspacing="0"></table>
			</div>
			<div attach-point="grid" class="dojoxCalendarGrid">
				<table attach-point="gridTable" class="dojoxCalendarGridTable" cellpadding="0" cellspacing="0" style="width:100%"></table>
			</div>
			<div attach-point="itemContainer" class="dojoxCalendarContainer" on-mousedown="{{_onGridMouseDown}}"
				 on-mouseup="{{_onGridMouseUp}}" on-dblclick="{{_onGridDoubleClick}}"
				 on-touchstart="{{_onGridTouchStart}}" on-touchmove="{{_onGridTouchMove}}"
				 on-touchend="{{_onGridTouchEnd}}">
				<table attach-point="itemContainerTable" class="dojoxCalendarContainerTable" cellpadding="0" cellspacing="0" style="width:100%"></table>
			</div>
		</div>
	</div>

	<d-calendar-vertical-scrollbar attach-point="vScrollBar" on-scroll="{{_vScrollBarOnScroll}}">
	</d-calendar-vertical-scrollbar>

	<d-calendar-horizontal-scrollbar attach-point="hScrollBar" on-scroll="{{_hScrollBarOnScroll}}">
	</d-calendar-horizontal-scrollbar>
</template>
