<template>
	<div  attach-point="rowHeader" class="dojoxCalendarRowHeader">
		<table attach-point="rowHeaderTable" class="dojoxCalendarRowHeaderTable" cellpadding="0" cellspacing="0"></table>
	</div>
	<div attach-point="grid" class="dojoxCalendarGrid">
		<table attach-point="gridTable" class="dojoxCalendarGridTable" cellpadding="0" cellspacing="0"></table>
	</div>
	<div attach-point="itemContainer" class="dojoxCalendarContainer" on-mousedown="{{_onGridMouseDown}}"
		 on-mouseup="{{_onGridMouseUp}}" on-dblclick="{{_onGridDoubleClick}}" on-touchstart="{{_onGridTouchStart}}"
		 on-touchmove="{{_onGridTouchMove}}" on-touchend="{{_onGridTouchEnd}}">
		<table attach-point="itemContainerTable" class="dojoxCalendarContainerTable" cellpadding="0" cellspacing="0" style="width:100%"></table>
	</div>
</template>
