<div class="d-calendar-event d-calendar-vertical">
	<div class="bg"></div>
	<div attach-point="resizeStartHandle" class="resize-start-handle resize-handle"><div></div></div>
	<dl style="width:100%;">
		<dd attach-point="beforeIcon" class="before-icon">▲</dd>
		<dd attach-point="startTimeLabel" class="start-time"></dd>
		<dd attach-point="summaryLabel" class="summary"></dd>
	</dl>
	<span attach-point="afterIcon" class="after-icon">▼</span>
	<div attach-point="resizeEndHandle" class="resize-end-handle resize-handle"><div></div></div>
	<span attach-point="endTimeLabel" class="end-time"></span>
</div>
