<template class="dojoxCalendarEvent dojoxCalendarVertical" on-selectstart="return false;">
	<div class="bg"></div>
	<dl style="width:100%;">
		<dd attach-point="beforeIcon" class="beforeIcon">&#x25B2;</dd>
		<dd attach-point="startTimeLabel" class="startTime"></dd>
		<dd attach-point="summaryLabel" class="summary"></dd>
	</dl>
	<span attach-point="afterIcon" class="afterIcon">&#x25BC;</span>
	<div attach-point="moveHandle" class="handle moveHandle"></div>
	<div attach-point="resizeStartHandle" class="handle resizeStartHandle"></div>
	<div attach-point="resizeEndHandle" class="handle resizeEndHandle"></div>
	<div attach-point="endTimeLabel" class="endTime"></div>
</template>
