.event-header {
  font-weight: bold;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-top-right-radius: 5px;
  -moz-border-top-left-radius: 5px;
  white-space: nowrap;
  padding: 1px 2px 2px 1px;
}
.dojoxCalendarColumnView.d-rtl .dojoxCalendarScrollContainer {
  border-left: none;
  border-right: none;
}
.dojoxCalendarColumnView.d-rtl .dojoxCalendarGrid {
  left: 0;
  right: 70px;
}
.dojoxCalendarColumnView.d-rtl .dojoxCalendarGrid.dojoxCalendarHorizontalScroll {
  border-right: none;
  border-left: 1px solid #b5bcc7;
}
.dojoxCalendarColumnView.d-rtl .dojoxCalendarGridTable td {
  border-left: 1px solid #b5bcc7;
  border-right: none;
}
.dojoxCalendarColumnView.d-rtl .dojoxCalendarContainer {
  left: 0;
  right: 70px;
}
.dojoxCalendarColumnView.d-rtl .dojoxCalendarContainer.dojoxCalendarHorizontalScroll {
  border-right: none;
  border-left: 1px solid #b5bcc7;
}
.dojoxCalendarColumnView.d-rtl .dojoxCalendarEventContainerColumn {
  margin-right: 2px;
  margin-left: 7px;
}
.dojoxCalendarColumnView.d-rtl .dojoxCalendarSubColumnBorder.subColumn {
  border-right: none;
  border-left: 1px solid #dddddd;
}
.dojoxCalendarColumnView.d-rtl .dojoxCalendarYearColumnHeader {
  right: 0;
  width: 68px;
}
.dojoxCalendarColumnView.d-rtl .dojoxCalendarColumnHeader {
  left: 0;
  right: 70px;
}
.dojoxCalendarColumnView.d-rtl .dojoxCalendarColumnHeader.dojoxCalendarHorizontalScroll {
  border-right: none;
  border-left: 1px solid #b5bcc7;
}
.dojoxCalendarColumnView.d-rtl .dojoxCalendarColumnHeaderTable td {
  border-right: none;
  border-left: 1px solid #cccccc;
}
.dojoxCalendarColumnView.d-rtl .dojoxCalendarColumnHeaderTable td:last-child {
  border-right: none;
  border-left: 1px solid #b5bcc7;
}
.dojoxCalendarColumnView.d-rtl .dojoxCalendarSubColumnHeader {
  right: 70px;
  left: 0;
}
.dojoxCalendarColumnView.d-rtl .dojoxCalendarSubColumnHeader.dojoxCalendarHorizontalScroll {
  border-right: none;
  border-left: 1px solid #b5bcc7;
}
.dojoxCalendarColumnView.d-rtl .dojoxCalendarSubRowHeader {
  left: auto;
  right: 0;
}
.dojoxCalendarColumnView.d-rtl .dojoxCalendarSubColumnHeaderTable {
  border-left: 1px solid #b5bcc7;
  border-right: none;
}
.dojoxCalendarColumnView.d-rtl .dojoxCalendarSubColumnHeaderTable table.subColumn td {
  border-left: none;
  border-right: none;
}
.dojoxCalendarColumnView.d-rtl .dojoxCalendarSubColumnHeaderTable td {
  border-left: 1px solid #cccccc;
  border-right: none;
}
.dojoxCalendarColumnView.d-rtl .dojoxCalendarSubColumnHeaderTable td:last-child {
  border-left: 1px solid #b5bcc7;
  border-right: none;
}
.dojoxCalendarColumnView.d-rtl .dojoxCalendarRowHeaderLabel {
  right: auto;
  left: 4px;
}
.dojoxCalendarColumnView.d-rtl .dojoxCalendarEvent .summary {
  text-align: right;
}
.dojoxCalendarColumnView.d-rtl .dojoxCalendarEvent .startTime {
  text-align: right;
}
.dojoxCalendarColumnView.d-rtl .dojoxCalendarEvent .endTime {
  text-align: right;
}
.dojoxCalendarColumnView.d-rtl .dojoxCalendarVScrollBar {
  margin-left: -1px;
}
.dojoxCalendarColumnView.d-rtl .dojoxCalendarGrid {
  right: 70px;
  left: 0;
}
.dojoxCalendarColumnView.d-rtl .dojoxCalendarGridTable td {
  text-align: left;
  border-bottom: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
  border-right: none;
}
.dojoxCalendarColumnView.d-rtl .dojoxCalendarGridTable td span {
  padding-left: 2px;
}
.dojoxCalendarColumnView.d-rtl .dojoxCalendarGridTable td:last-child {
  border-left: 1px solid #b5bcc7;
}
.dojoxCalendarColumnView.d-rtl .dojoxCalendarContainer {
  right: 70px;
  left: 0;
}
.dojoxCalendarColumnView.d-rtl .dojoxCalendarContainerTable td {
  border-bottom: solid 1px transparent;
  border-right: solid 1px transparent;
  text-align: right;
  vertical-align: top;
}
.dojoxCalendarColumnView.d-rtl .dojoxCalendarYearColumnHeader {
  position: absolute;
  right: 0;
  left: auto;
}
.dojoxCalendarColumnView.d-rtl .dojoxCalendarColumnHeader {
  right: 70px;
  left: 0;
}
.dojoxCalendarColumnView.d-rtl .dojoxCalendarColumnViewSecondarySheet .dojoxCalendarColumnHeaderTable td {
  border-left: 1px solid #b5bcc7;
  border-right: none;
}
.dojoxCalendarColumnView.d-rtl .dojoxCalendarRowHeader {
  right: 0;
  left: auto;
}
.dojoxCalendarColumnView.d-rtl .dojoxCalendarEvent .resizeStartHandle {
  right: 0;
}
.dojoxCalendarColumnView.d-rtl .dojoxCalendarEvent .resizeEndHandle {
  left: 0;
  right: auto;
}
.dojoxCalendarColumnView.d-rtl .dojoxCalendarEvent.dojoxCalendarHorizontal .labels {
  text-align: right;
  right: 2px;
}
