.event-header {
  font-weight: bold;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  white-space: nowrap;
  padding: 1px 2px 2px 1px;
}
.dojoxCalendarMatrixView.d-rtl .dojoxCalendarGrid {
  right: 50px;
  left: 0;
}
.dojoxCalendarMatrixView.d-rtl .dojoxCalendarGridTable td {
  text-align: left;
  border-bottom: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
  border-right: none;
}
.dojoxCalendarMatrixView.d-rtl .dojoxCalendarGridTable td span {
  padding-left: 2px;
}
.dojoxCalendarMatrixView.d-rtl .dojoxCalendarGridTable td:last-child {
  border-left: 1px solid #b5bcc7;
}
.dojoxCalendarMatrixView.d-rtl .dojoxCalendarContainer {
  right: 50px;
  left: 0;
}
.dojoxCalendarMatrixView.d-rtl .dojoxCalendarContainerTable td {
  border-bottom: solid 1px transparent;
  border-right: solid 1px transparent;
  text-align: right;
  vertical-align: top;
}
.dojoxCalendarMatrixView.d-rtl .dojoxCalendarYearColumnHeader {
  position: absolute;
  right: 0;
  left: auto;
}
.dojoxCalendarMatrixView.d-rtl .dojoxCalendarColumnHeader {
  right: 50px;
  left: 0;
}
.dojoxCalendarMatrixView.d-rtl .dojoxCalendarColumnHeaderTable td {
  border-left: 1px solid #b5bcc7;
  border-right: none;
}
.dojoxCalendarMatrixView.d-rtl .dojoxCalendarRowHeader {
  right: 0;
  left: auto;
}
.dojoxCalendarMatrixView.d-rtl .dojoxCalendarEvent.dojoxCalendarHorizontal .labels {
  text-align: right;
}
.dojoxCalendarMatrixView.d-rtl .dojoxCalendarEvent.dojoxCalendarLabel .labels {
  text-align: right;
}
.dojoxCalendarMatrixView.d-rtl .dojoxCalendarEvent .resizeStartHandle {
  right: 0;
}
.dojoxCalendarMatrixView.d-rtl .dojoxCalendarEvent .resizeEndHandle {
  left: 0;
  right: auto;
}
