.event-header {
  font-weight: bold;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-top-right-radius: 5px;
  -moz-border-top-left-radius: 5px;
  white-space: nowrap;
  padding: 1px 2px 2px 1px;
}
.dojoxCalendarMonthColumnView {
  cursor: default;
  -webkit-user-select: none;
}
.dojoxCalendarMonthColumnView .dojoxCalendarScrollContainer {
  left: 0;
  right: 0;
  bottom: 0;
  top: 30px;
  position: absolute;
  overflow-y: hidden;
  overflow-x: hidden;
  border-bottom: 1px solid #b1badf;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.dojoxCalendarMonthColumnView .dojoxCalendarGrid {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.dojoxCalendarMonthColumnView .dojoxCalendarGridTable {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
  position: relative;
  margin: 0;
  padding: 0;
  /*
		 * The dojoxCalendarToday & dojoxCalendarWeekend classes is added by the
		 * ColumnView.styleGridColumn method that can be subclassed to add/remove css classes
		 */
}
.dojoxCalendarMonthColumnView .dojoxCalendarGridTable td {
  border-top: dotted 1px #B5BCC7;
  border-right: 1px solid #bfbfbf;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.dojoxCalendarMonthColumnView .dojoxCalendarGridTable td span {
  padding-left: 3px;
}
.dojoxCalendarMonthColumnView .dojoxCalendarGridTable tr:first-child td {
  border-top: 1px solid transparent;
}
.dojoxCalendarMonthColumnView .dojoxCalendarGridTable .dojoxCalendarToday {
  background-color: #fff2d2;
  font-weight: bold;
  color: #ff2200;
}
.dojoxCalendarMonthColumnView .dojoxCalendarGridTable .dojoxCalendarHiddenEvents {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAF0lEQVQYlWP4z8Dw/1dU1H8GXGBkKAAA+IglWfcls2QAAAAASUVORK5CYII=) repeat-y;
}
.dojoxCalendarMonthColumnView .dojoxCalendarGridTable .dojoxCalendarToday.dojoxCalendarHiddenEvents {
  background: #fff2d2 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAF0lEQVQYlWP4z8Dw/1dU1H8GXGBkKAAA+IglWfcls2QAAAAASUVORK5CYII=) repeat-y;
}
.dojoxCalendarMonthColumnView .dojoxCalendarGridTable tr td:last-child {
  border-right: 1px solid #b1badf;
}
.dojoxCalendarMonthColumnView .dojoxCalendarGridTable tr td:first-child {
  border-left: 1px solid #b1badf;
}
.dojoxCalendarMonthColumnView .dojoxCalendarGridTable tr:first-child td.dojoxCalendarToday {
  border-top: 1px solid #fff2d2;
}
.dojoxCalendarMonthColumnView .dojoxCalendarGridTable .dojoxCalendarWeekend {
  background-color: #fdfdfd;
  color: #999999;
}
.dojoxCalendarMonthColumnView .dojoxCalendarGridTable tr:first-child td.dojoxCalendarWeekend {
  border-top: 1px solid #fdfdfd;
}
.dojoxCalendarMonthColumnView .dojoxCalendarContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  cursor: default;
}
.dojoxCalendarMonthColumnView .dojoxCalendarContainerTable {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
  position: relative;
  margin: 0;
  padding: 0;
}
.dojoxCalendarMonthColumnView .dojoxCalendarContainerTable td {
  height: 100%;
  padding: 0;
  vertical-align: top;
}
.dojoxCalendarMonthColumnView .dojoxCalendarContainerColumn {
  position: relative;
  margin-left: 35px;
  margin-right: 5px;
}
.dojoxCalendarMonthColumnView .dojoxCalendarEventContainer {
  position: absolute;
  overflow: hidden;
  -moz-user-select: none;
  -webkit-user-select: none;
  khtml-user-select: none;
  user-select: none;
}
.dojoxCalendarMonthColumnView .dojoxCalendarColumnHeader {
  position: absolute;
  height: 30px;
  left: 0;
  right: 0;
  top: 0;
  cursor: default;
}
.dojoxCalendarMonthColumnView .dojoxCalendarColumnHeaderTable {
  border-collapse: collapse;
  table-layout: fixed;
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
.dojoxCalendarMonthColumnView .dojoxCalendarColumnHeaderTable td {
  overflow: hidden;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  background: #cccccc;
  background: #ffffff url("images/titleBar.png") repeat-x top left;
  padding: 3px 4px;
  font-size: 0.9em;
  font-weight: bold;
  color: #6d6d6d;
  border-right: 1px solid #bfbfbf;
  border-top: 1px solid #b1badf;
  border-bottom: 1px solid #b1badf;
  -moz-user-select: none;
  -webkit-user-select: none;
  khtml-user-select: none;
  user-select: none;
  color: #293a4b;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.dojoxCalendarMonthColumnView .dojoxCalendarColumnHeaderTable td:last-child {
  border-right: 1px solid #b1badf;
}
.dojoxCalendarMonthColumnView .dojoxCalendarColumnHeaderTable td:first-child {
  border-left: 1px solid #b1badf;
}
.dojoxCalendarMonthColumnView .dojoxCalendarColumnHeaderTable td:hover {
  cursor: pointer;
  background: #f9f9f9 url("images/accordionItemActive.png") top repeat-x;
}
.dojoxCalendarMonthColumnView .dojoxCalendarColumnHeaderTable td:active {
  cursor: pointer;
}
.dojoxCalendarMonthColumnView .dojoxCalendarDecoration {
  display: block;
  position: absolute;
  background-color: #a71744;
  filter: alpha(opacity=@ {op});
  opacity: 0.2;
}
.dojoxCalendarMonthColumnView .dojoxCalendarEvent {
  display: block;
  position: absolute;
  text-align: left;
  color: #FFF;
  cursor: default;
  overflow: hidden;
}
.dojoxCalendarMonthColumnView .dojoxCalendarEvent .bg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  border: 1px solid #260000;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  background-color: #9f0000;
  filter: alpha(opacity=@ {op});
  opacity: 0.9;
}
.dojoxCalendarMonthColumnView .dojoxCalendarEvent .startTime {
  font-weight: bold;
}
.dojoxCalendarMonthColumnView .dojoxCalendarEvent .endTime {
  position: absolute;
  font-weight: bold;
  bottom: 3px;
  left: 6px;
}
.dojoxCalendarMonthColumnView .dojoxCalendarEvent .beforeIcon {
  text-align: center;
}
.dojoxCalendarMonthColumnView .dojoxCalendarEvent .afterIcon {
  position: absolute;
  bottom: 2px;
  width: 100%;
  text-align: center;
}
.dojoxCalendarMonthColumnView .dojoxCalendarEvent .handle {
  z-index: 2;
  background-color: #F00;
  filter: alpha(opacity=@ {op});
  opacity: 0;
  -moz-user-select: none;
  -webkit-user-select: none;
  khtml-user-select: none;
  user-select: none;
}
.dojoxCalendarMonthColumnView .dojoxCalendarEvent .moveHandle {
  position: absolute;
  top: 0;
  width: 100%;
  bottom: 0;
  cursor: move;
}
.dojoxCalendarMonthColumnView .dojoxCalendarEvent .resizeStartHandle {
  position: absolute;
  top: 0;
  width: 100%;
  height: 10px;
  cursor: n-resize;
}
.dojoxCalendarMonthColumnView .dojoxCalendarEvent .resizeEndHandle {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10px;
  cursor: n-resize;
}
.dojoxCalendarMonthColumnView .dojoxCalendarEvent dl {
  margin: 0;
}
.dojoxCalendarMonthColumnView .dojoxCalendarEvent dd {
  margin: 0;
  padding: 0 3px;
  text-align: left;
}
.dojoxCalendarMonthColumnView .dojoxCalendarEvent.Hovered .bg {
  background-color: #CC0000;
}
.dojoxCalendarMonthColumnView .dojoxCalendarEvent.Selected .bg {
  background-color: #660000;
}
.dojoxCalendarMonthColumnView .dojoxCalendarEvent.Edited .bg {
  border: dashed 1px #FFFFFF;
  filter: alpha(opacity=@ {op});
  opacity: 0.7;
}
.dojoxCalendarMonthColumnView .dojoxCalendarEvent.Focused .bg {
  border: dashed 1px #FFFFFF;
}
.dojoxCalendarMonthColumnView .dojoxCalendarVScrollBar {
  display: block;
  position: absolute;
  top: 30px;
  bottom: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}
